@value btns: './component/btns.css';


.main{
    color: rgba(0, 0, 0, 0.8);
}
.btn{
    composes: btn from btns;
    display: block;
}

.banner{
    display: flex;
    width: 100%;
}

.no-use-1{
    color: red;
}

.no-use-2{
    color: blue;
}