.g-header{
    height: 60px;
    line-height: 60px;
    background-color: #ccc;
}

.g-col-main{
    margin-right: 350px;
}

.g-col-main-content{
    max-width: 700px;
    margin: 0 auto;
    background-color: red;
}

.g-icon-logo{

}

.g-text-